@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gabarito:wght@400..900&family=Julius+Sans+One&family=Pacifico&family=Syncopate:wght@400;700&family=Tangerine:wght@400;700&family=Unica+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/horror-type');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html,
body {
    /* border: 2px solid red; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background: #000000; */
    /* background-image: url(/Projeler/calismalar/7-Intro_Denemesi_1/img/eyes_bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;

}

h1.header {
    font-family: "Unica One", sans-serif !important;
    font-size: 50px;
    /* text-transform: uppercase; */
    /* font-weight: bolder; */
    width: 90%;
    z-index: 10;
}

h1.header:hover {
    text-shadow: 2rem 2rem 0.24rem rgba(255, 255, 255, 0.600), 3rem 3rem 0.24rem rgba(255, 255, 255, 0.5), 4rem 4rem 0.24rem rgba(255, 255, 255, 0.350), 5rem 5rem 0.24rem rgba(255, 255, 255, 0.200), 6rem 6rem 0.24rem rgba(255, 255, 255, 0.131), 7rem 7rem 0.24rem rgba(255, 255, 255, 0.028), -1rem -1rem 0.24rem rgba(255, 255, 255, 0.600), -2rem -2rem 0.24rem rgba(255, 255, 255, 0.5), -3rem -3rem 0.24rem rgba(255, 255, 255, 0.350), -4rem -4rem 0.24rem rgba(255, 255, 255, 0.200), -5rem -5rem 0.24rem rgba(255, 255, 255, 0.131), -6rem -6rem 0.24rem rgba(255, 255, 255, 0.028), 0 0 3rem rgb(255, 0, 0), 1rem -1rem 0.24rem rgba(255, 255, 255, 0.600), 2rem -2rem 0.24rem rgba(255, 255, 255, 0.5), 3rem -3rem 0.24rem rgba(255, 255, 255, 0.350), 4rem -4rem 0.24rem rgba(255, 255, 255, 0.200), 5rem -5rem 0.24rem rgba(255, 255, 255, 0.131), 6rem -6rem 0.24rem rgba(255, 255, 255, 0.028), -1rem 1rem 0.24rem rgba(255, 255, 255, 0.600), -2rem 2rem 0.24rem rgba(255, 255, 255, 0.5), -3rem 3rem 0.24rem rgba(255, 255, 255, 0.350), -4rem 4rem 0.24rem rgba(255, 255, 255, 0.200), -5rem -5rem 0.24rem rgba(255, 255, 255, 0.131), -6rem -6rem 0.24rem rgba(255, 255, 255, 0.028),
        5px 5px 1px rgb(0, 0, 0);
}

.linkim {
    color: black;
}

.header .letter {
    display: inline-block;
    line-height: 1em;
}


.titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: 500;
    font-size: 10rem;
    letter-spacing: 2rem;
    font-family: 'Horror Type', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul.titles {
    display: flex;
}

ul.blocks {
    margin: 0;
    padding: 0;
    display: flex;
    width: 90%;
    height: 100vh;
    list-style: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}



body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-hidden {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 175%;
    object-fit: cover;
}

.video-hidden video {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.video-hidden {
    display: none;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    margin-top: 20%;
}


@media (max-width: 768px) {
    h1.header {
        font-size: 100px;
        letter-spacing: 5rem;
        width: 100%;
    }

    h1.header:hover {
        font-size: 100px;
        letter-spacing: 5rem;
        width: 100%;
        text-shadow: 0.2rem 0.2rem 10px green;
    }

    h1 {
        font-size: 12rem;
        letter-spacing: 1rem;
        transform: translate(-50%, -50%);
    }

    ul.titles {
        flex-direction: column;
    }

    ul.blocks {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .content {
        margin-top: 50%;
        padding: 20px;
    }
}